.payToSave-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 100%;
}

.payToSave--image {
  width: 32.7rem;
  object-fit: cover;
}

.payToSave--title {
  padding: 0 7rem;
  padding-top: 4rem;
  padding-bottom: 1.6rem;
  font-size: 2.6rem;
  color: #2F2C7C;
}

.payToSave--p {
  padding: 0 2rem;
  color: #515070;
}

@media (min-width: 970px) {
  .payToSave-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 48rem;
  }
  
  .payToSave--image {
    width: 50%;
    max-width: 47.5rem;
  }  
  
  .payToSave-text {
    width: 50%;
    text-align: start;
    max-width: 40rem;
  }

  .payToSave--title {
    font-size: 3.2rem;
    padding: 0;
    padding-bottom: 1.6rem;
  }
  
  .payToSave--p {
    padding: 0;
  }
}
